body {
   background-image: url(../img/fundo.jpg);
}

*{
    margin: 0%;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteudo {
    display: flex;
    align-items: center;
    width: 70%;
    min-height: 50vh;
    justify-content: center;
    color: darkolivegreen;

}

.rodape img {
    width: 80px;

}

.cabecalho h1 {
    color: darkolivegreen;
}

.rodape {
    
    justify-content: center;
    align-items: center;
    color: darkolivegreen;
    align-items: center;
    }

#Sub {
    color: darkolivegreen;
    text-align: center;
}

h1 {
    color: darkolivegreen;
}